<h1 class="mb-5">Lista de Categorías de Menú</h1>

<div class="text-end">
    <button class="btn btn-primary" routerLink="/menuCategoryForm">
        Nueva Categoría de Menú
    </button>
</div>

<table class="table tabla-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th> <!-- Added column for actions -->
      </tr>
    </thead>
    <tbody>
        @for (category of categories; track category.categoryID){
        <tr>
            <td>{{ category.categoryName }}</td>
            <td>{{ category.status }}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteCategory(category)">Eliminar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
