<h1 class="mb-5">Lista de Mesas</h1>

<div class="text-end">
    <button class="btn btn-primary" routerLink="/tableForm">
        Nueva Mesa
    </button>
</div>

<table class="table tabla-hover">
    <thead>
      <tr>
        <th>Tabla ID</th>
        <th>Número de Tabla</th>
        <th>Capacidad</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
        @for (table of tables; track table.tableID){
            <tr>
                <td>{{ table.tableID }}</td>
                <td>{{ table.tableNumber }}</td>
                <td>{{ table.capacity }}</td>
                <td>{{ table.status }}</td>
            </tr>
        }
    </tbody>
</table>
